[submodule "external/tinyexr"]
	path = external/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "external/LiteMath"]
	path = external/LiteMath
	url = https://github.com/msu-graphics-group/LiteMath.git
[submodule "external/vkutils"]
	path = external/vkutils
	url = https://github.com/msu-graphics-group/vk-utils.git
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
